body{
	font-family: sans-serif;
	width:100%;
	background:black;
	font-size: 18px;
	color:white;
	margin: auto;
}
.slider{
	justify-content: center;
	display: flex;
	align-items: center;
	width: 360px;
	height: 180px;
	border-radius: 10px;
}
.slider h5{
	position: absolute;
	left: 20%;
	top:40px;
}
.slides{
	width: 360px;
	height: 180px;
	display: flex;
}
.slides input{
	display: none;
}
.slide {
	width: 100%;
	transition:2s;
}
.slide img{
	width: 340px;
	height: 180px;
	margin-right: 10px;
	margin-left: 14px;
	margin-bottom: 20px;
}
.navigation-manual {
display:none;

}
.manual-btn{
	border:2px solid white;
	padding:5px;
	border-radius:10px;
	cursor: pointer;
	transition:1s;

}

.manual-btn:not(:last-child){
	margin-right: 30px;
}
.manual-btn:hover{
	background: white;
}
#radio1:checked ~ .first {
	margin-left: 0%;
}
#radio2:checked ~ .first {
	margin-left: -100%;
}
#radio3:checked ~ .first {
	margin-left: -200%;
}
#radio4:checked ~ .first {
	margin-left: -300%;
}

.navigation-auto{
	position: absolute;
	display: flex;
	width: 360px;
	justify-content: center;
	margin-top: 132px;
}
.navigation-auto div{
	border:2px solid white;
	padding: 5px;
	border-radius: 10px;
	transition: 1s;
}
.navigation-auto div:not(:last-child){
	margin-right: 30px;
}
#radio1:checked ~ .navigation-auto .auto-btn1{
	background: white;

}
#radio2:checked ~ .navigation-auto .auto-btn2{
	background: white;
	
}
#radio3:checked ~ .navigation-auto .auto-btn3{
	background: white;
	
}
#radio4:checked ~ .navigation-auto .auto-btn4{
	background: white;
}

#welcomeIntro{
	width: 100%;
	height: 700px;
	text-align: center;
}
#welcomeIntro p{
	padding-top: 30px;
	font-size: 27px;
	line-height: 40px;
	text-shadow:1px 2px 20px #f7931e;
	margin:0px;
}
#apesRules ul{
	padding: 0px;
}
#socialLinks{
	margin-top: 60px;
}
#socialLinks ul li {
 text-decoration: none;
 display: inline;
 margin-right: 30px;
 margin-left: 15px;
}
#copyRight{
	margin-bottom: 30px;
	margin-top: 40px;
	text-align: center;
	font-size: 12px;
}
i{
	font-size:20px;
	color: blue;
}
#apesRules ul li {
	list-style: none;
	margin-top: 15px;
}
#blogPosts, #apesRules{
	margin-right: 10px;
	margin-left: 10px;
}
.posts {
	text-align: justify;
	line-height: 25px;
	margin-top: 80px;
}
#navigationList p {
	font-family: 'Potta One', cursive;
	text-shadow:4px 4px #000c66;
	margin-left: 20px;

}
#welcomeIntro a {
	text-decoration: none;
	color: blue;
}
#welcomeIntro button{
	font-family: 'Potta One', cursive;
	background: white;
	color: white;
	text-align: center;
	margin: auto;
	margin-top: 65px;
	height: 40px;
	width: 230px;
	border:1px solid #f7931e;
	font-size: 14px;
	border-radius: 25px;
}
#welcomeIntro i {
	font-size: 14px;
	margin-right: 3px;
}
h5 i {
	margin-right: 10px;
}
h1 {
	width: fit-content;
	text-align: center;
	margin:auto;
}
#blogPosts {
	margin-top: 100px;
}
.posts h2 {
	text-align: left;
}




@media only screen and (min-width: 768px){
	body{
		width: 90%;
	}
	#welcomeIntro{
	width: 50%;
	margin:auto;
	text-align: center;
	clear: both;
	}
	#apesRules{
		clear: both;
		margin-top: 200px;
	}
	.posts {
	margin-top: 100px;
	width: 100%;
	margin-right: 5%;
}
.posts p{
	float: right;
	clear: both;
	width: 50%;
	margin-left:20px;
	margin-right: 5%;
	display: inline;
}
.posts img {
	width: 35%;
}
#socialLinks ul li {
 margin-right: 50px;
 margin-left: 40px;
}
#copyRight{
	margin-bottom: 30px;
	margin-top: 40px;
	font-size: 12px;
}
#socialLinks{
	text-align: center;
	margin: auto;
}

}
