body{
	font-family: sans-serif;
	width:98%;
	background:#090b11;
	font-size: 18px;
	color:white;
	margin: auto;
}
i{
	font-size:20px;
	color: blue;
}
.error {
	color:#6f7eb1;
	font-size: 80px;
}
.error:nth-child(1){
	position: absolute;
 top:5%;
}
.error:nth-child(2){
	position: absolute;
 top:20%;
}
.error:nth-child(3){
	position: absolute;
 top:15%;
}
.error:nth-child(4){
	position: absolute;
 top:30%;
}
.cover{
	height:700px;
	background-image: url(background.svg);
	background-attachment: fixed;
	position: relative;
	filter: blur(3px);
	-webkit-filter:blur(3px);
	background-size: cover;
	background-repeat: no-repeat;
	clear: both;
}
.covercover{
	background-color: rgba(0,0,0,0.7);
	font-weight: bold;
	position:absolute;
	top:0px;
	left: 0%;
	width: 100%;
	height:700px;
	clear: both;
}
.covercover section {
	width: 100%;
	height: 2000px;
	background: transparent;
	position: absolute;
	top: 0px;
	left: 0px;
}
.set {
	position: absolute; 
	width: 100%;
	height:700px;
	top: 0px;
	left: 0px;
}
.set div{
	position: absolute;
	display: block;
 }
 .set div:nth-child(1){
 	left:85%;
 	animation: animates 10s linear infinite;
 	animation-delay: -5;
 }
 .set div:nth-child(2){
 	left:30%;
 	animation: animates 30s linear infinite;
 	animation-delay: -3s;
 }
 .set div:nth-child(3){
 	left:45%;
 	animation: animates 50s linear infinite;
 	animation-delay:0s;
 }
 .set div:nth-child(4){
 	left:20%;
 	animation: animates 100s linear infinite;
 	animation-delay: -5s;
 }
 .set div:nth-child(5){
 	left:60%;
 	animation: animates 150s linear infinite;
 	animation-delay: -100s;
 }
 .set div:nth-child(6){
 	left:5%;
 	animation: animates 70s linear infinite;
 }
 @keyframes animates{ 
 	0%
 	{
 		opacity:-0.5;
 		top:-10%;
 		transform: translateX(-20px) rotate(0deg);
 	}
 	10%{
 		opacity: 0;
 		transform: translateX(-10px) rotate(30deg);
 	}
 	20%{
 		transform:translateX(0px) rotate(50deg);
 	}
 	40%{
 		transform:translateX(10px) rotate(100deg);
 	}
 	60%{
 		transform:translateX(20px) rotate(140deg);
 	}
 	80%{
 		transform:translateX(-20px) rotate(220deg);
 	}
 	100%
 	{
 		top:100%;
 		transform: translateX(-20px) rotate(360deg);
 	}
 }
 .set2{
 	transform: scale(0.5) rotateY(180deg);
 }
.set3{
 	transform: scale(0.7) rotateX(180deg);
 }
 .slide a{
 	color: blue;
 }
 #blogPosts section {
	width: 100%;
	height: 700px;
	background: transparent;
	position: absolute;
	top: 0px;
	left: 0px;
}
.set {
	position: absolute; 
	width: 100%;
	height:700px;
	top: 0px;
	left: 0px;
}
.set div{
	position: absolute;
	display: block;
 }
 .set div:nth-child(1){
 	left:85%;
 	animation: animated 10s linear infinite;
 	animation-delay: -5;
 }
 .set div:nth-child(2){
 	left:30%;
 	animation: animated 30s linear infinite;
 	animation-delay: -3s;
 }
 .set div:nth-child(3){
 	left:45%;
 	animation: animated 50s linear infinite;
 	animation-delay:0s;
 }
 .set div:nth-child(4){
 	left:20%;
 	animation: animated 100s linear infinite;
 	animation-delay: -5s;
 }
 .set div:nth-child(5){
 	left:60%;
 	animation: animated 150s linear infinite;
 	animation-delay: -100s;
 }
 .set div:nth-child(6){
 	left:5%;
 	animation: animated 70s linear infinite;
 }
 @keyframes animated{ 
 	0%
 	{
 		opacity:-0.5;
 		top:-10%;
 		transform: translateX(-20px) rotate(0deg);
 	}
 	10%{
 		opacity: 0;
 		transform: translateX(-10px) rotate(30deg);
 	}
 	20%{
 		transform:translateX(0px) rotate(50deg);
 	}
 	40%{
 		transform:translateX(10px) rotate(100deg);
 	}
 	60%{
 		transform:translateX(20px) rotate(140deg);
 	}
 	80%{
 		transform:translateX(-20px) rotate(220deg);
 	}
 	100%
 	{
 		top:100%;
 		transform: translateX(-20px) rotate(360deg);
 	}
 }
 .set2{
 	transform: scale(0.5) rotateY(180deg);
 }
.set3{
 	transform: scale(0.7) rotateX(180deg);
 }
.slider{
	justify-content: center;
	display:block;
	align-items: center;
	width: 98%;
	height: 180px;
	border-radius: 10px;
	clear: both;
}
.slider h5{
	font-size: 14px;
	position: absolute;
	background: #00001a;
	left:25%;
	top:30px;
	width: 50%;
}
.slides{
	display:flex;
    margin: 20px;
}
.slide-padding{
	width: 304px;
	height: 90px;
	text-align: center;
	justify-content: center;
	clear: both;
	margin: 30px;
    background: #00001a;
    border: 2px dashed  #00004d;
 
}
.slide p{
	width:fit-content;
	margin-right: 60px;
	height: 64px;
	margin-top: 40px;
	font-size: 18px;
	float: right;
	font-weight: bold;
}
.slides input{
	display: none;
}
#welcomeIntro img{
	width: 50%;
}
.slide {
	width: 100%;
	transition:2s;
	clear: both;
}
.slide img,.slide first img{
	width: 64px;
	height: 64px;
	margin-right: 10px;
	margin-left: 14px;
	margin-bottom: 20px;
	margin-top: 12px;
}
.navigation-manual {
display: none;
}
.manual-btn{
	border:2px solid white;
	padding:5px;
	border-radius:10px;
	cursor: pointer;
	transition:1s;

}
.manual-btn:not(:last-child){
	margin-right: 30px;
}
.manual-btn:hover{
	background: white;
}
#radio1:checked ~ .first {
	margin-left: 0%;
}
#radio2:checked ~ .first {
	margin-left: -100%;
}
#radio3:checked ~ .first {
	margin-left: -200%;
}
#radio4:checked ~ .first {
	margin-left: -300%;
}

.navigation-auto{
	position: absolute;
	display: flex;
	width: 360px;
	margin: auto;
	justify-content: center;
	top: 26%;
}
.navigation-auto div{
	border:2px solid white;
	padding: 5px;
	border-radius: 10px;
	transition: 1s;
}
.navigation-auto div:not(:last-child){
	margin-right: 30px;
}
#radio1:checked ~ .navigation-auto .auto-btn1{
	background: white;

}
#radio2:checked ~ .navigation-auto .auto-btn2{
	background: white;
	
}
#radio3:checked ~ .navigation-auto .auto-btn3{
	background: white;
	
}
#radio4:checked ~ .navigation-auto .auto-btn4{
	background: white;
}

#welcomeIntro{
	width: 100%;
	text-align: center;
}
#welcomeIntro p{
	padding-top: 30px;
	font-size: 27px;
	line-height: 40px;
	text-shadow:1px 2px 20px #f7931e;
	margin:0px;
}
#apesRules ul{
	padding: 0px;
	background-color: #121521;
	padding:5px;
	border-radius: 20px;
}
#socialLinks{
	margin-top: 60px;
}
#socialLinks ul li {
 text-decoration: none;
 display: inline;
 margin-right: 30px;
 margin-left: 15px;
}
#copyRight{
	margin-bottom: 30px;
	margin-top: 40px;
	text-align: center;
	font-size: 12px;
}
#apesRules ul li {
	list-style: none;
	margin-top: 15px;
}
#blogPosts, #apesRules{
	padding-right: 10px;
	padding-left: 10px;
}
#apesRules{
	background: #090b11;
	padding-top: 50px;
	position:relative;
}
#apesRules span{
	padding-bottom: 7px;
	border-bottom:  2px solid #8b97c1;
}
.posts {
	text-align: justify;
	line-height: 25px;
	margin-top: 80px;
}
#navigationList p {
	font-family: 'Potta One', cursive;
	text-shadow:4px 4px #000c66;
	margin-left: 20px;
} 
#navigationList {
	height: 50px;
	width: 100%;
	position: fixed;
	background-color: #090b11;
	z-index: 1;
}
#welcomeIntro a {
	text-decoration: none;
	color: blue;
}
#welcomeIntro button{
	font-family: 'Potta One', cursive;
	background: white;
	color: white;
	text-align: center;
	margin: auto;
	margin-top: 65px;
	height: 40px;
	width: 230px;
	border:1px solid #f7931e;
	font-size: 14px;
	border-radius: 25px;
}
#welcomeIntro i {
	font-size: 14px;
	margin-right: 3px;
}
h5 i {
	margin-right: 10px;
	font-size: 20px;
	color:#6f7eb1;
}
h1 {
	width: fit-content;
	text-align: center;
	margin:auto;
}
#blogPosts {
	margin-top: 100px;
	position: relative;
}
.posts h2 {
	text-align: left;
}






















@media only screen and (min-width: 768px){
	body{
		width: 100%;
	}
	#welcomeIntro{
	width: 50%;
	margin:auto;
	text-align: center;
	clear: both;
	}
	#welcomeIntro img{
		width: 35%;
	}
	#apesRules{
		clear: both;
		padding-top:80px;
	}
	.slider h5 {
		font-size: 18px;
		top:25px;
		width: 30%;
		left: 35%;
		text-align: center;
		background:transparent;
	}
	.posts {
	margin-top: 100px;
	width: 100%;
	margin-right: 5%;
	clear: both;
}
.posts p{
	float: right;
	clear: both;
	width: 50%;
	margin-left:20px;
	margin-right: 5%;
	display: inline;
	line-height: 35px;
}
.posts img {
	width: 35%;
}
#socialLinks ul li {
 margin-right: 50px;
 margin-left: 40px;
}
#copyRight{
	margin-bottom: 30px;
	margin-top: 40px;
	font-size: 12px;
	align-content: center;
	clear: both;
}
#socialLinks{
	text-align: center;
	margin: auto;
}
#radio1:checked ~ .first {
	margin-left: 1%;
}
#radio2:checked ~ .first {
	margin-left: -10%;
}
#radio3:checked ~ .first {
	margin-left: -20%;
}
#radio4:checked ~ .first {
	margin-left: -27%;
}
.navigation-auto{
top: 30%;	
 left:35%;
 width: 30%;
}
#apesRules ul{
	width:40%;
	margin-left:30%;
	margin-right: 30%;
	padding: 30px;
	border-radius: 25px;
}
}